# Default ignored files
/shelf/
/workspace.xml

# Java
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo

# Package Files
*.war
*.ear
*.zip
*.tar.gz

# Spring Boot
*.pid

# MySQL settings
database.properties
.classpath
.project
.settings/
target/
src/main/resources/